<div class="container mt-5">
  <div class="form-area w-100">
    <form>
      <div class="form-group">
        <label for="">Username</label>
        <input type="text" placeholder="Full Name" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="text" placeholder="Email" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Address</label>
        <textarea class="form-control" name="" placeholder="address" id="" cols="30" rows="10"></textarea>
      </div>
      <button type="submit" class="mx-auto d-block btn btn-primary">Submit</button>
    </form>
  </div>
</div>
